@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<hr>

<h4>Flavors</h4>
@if (Model["Flavors"].Length == 0)
{
    <p>No Flavors have been added yet!</p>
}
<ul>
  @foreach (Flavor eng in Model["Flavors"])
  {
      <li>@Html.ActionLink(@eng.Title, "Details", "Flavors", new { id = @eng.FlavorId})</li>
  }
</ul>

<h4>Treats</h4>
@if (Model["Treats"].Length == 0)
{
    <p>No Treats have been added yet!</p>
}
<ul>
  @foreach (Treat Treat in Model["Treats"])
  {
      <li>@Html.ActionLink(@Treat.Description, "Details", "Treats", new { id = @Treat.TreatId})</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Manage Flavors", "Index", "Flavors")</p>
