@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<hr>
@if (User.Identity.IsAuthenticated)
{
  <h4>Flavors</h4>
  @if (Model["flavors"] == null || Model["flavors"].Length == 0)
  {
    <p>No flavors have been added yet!</p>
  }
  else
  {
    <ul>
  @foreach (Flavor flav in Model["flavors"])
      {
        <li>@Html.ActionLink(@flav.Title, "Details", "Flavors", new { id = @flav.FlavorId})</li>
      }
    </ul>
  }
}
else
{
  <h4>Flavors</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your flavors.</p>
}

@if (User.Identity.IsAuthenticated)
{
  <h4>Treats</h4>
  @if (Model["treats"] == null || Model["treats"].Length == 0)
  {
    <p>No treats have been added yet!</p>
  }
  else
  {
    <ul>
  @foreach (Treat treat in Model["treats"])
      {
        <li>@Html.ActionLink(@treat.Description, "Details", "Treats", new { id = @treat.TreatId})</li>
      }
    </ul>
  }
}
else
{
  <h4>Treats</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats.</p>
}

<hr>

<p>@Html.ActionLink("Manage treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Manage flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
