@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer does not belong to any machines</p>
}
else
{
  <h4>Machines the engineer belongs to:</h4>
  <ul>
  @foreach(MachineEngineer join in Model.JoinEntities)
  {
    <li>@join.Machine.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an Machine", "AddMachine", new { id = Model.EngineerId })</p>